# Python for Data Analysis Project

## Import

In [3]:
import pandas as pd

## Data Import

In [4]:
df = pd.read_csv("drug_consumption.data", header = None)
df.set_axis(["ID", "Age", "Gender", "Education", "Country", "Ethnicity", "Nscore", "Escore", "Oscore", "Ascore", "Cscore", "Impulsive", "SS", "Alcohol Consum", "Amphet Consum", "Amyl Consum", "Benzos Consum", "Caff Consum", "Cannabis Consum", "Choc Consum", "Coke Consum", "Crack Consum", "Ecstasy Consum", "Heroin Consum", "Ketamine Consum", "Legalh Consum", "LSD Consum", "Meth Consum", "Mushrooms Consum", "Nicotine Consum", "Semeron Consum", "VSA Consum"], axis = 1, inplace = True)

In [5]:
df

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy Consum,Heroin Consum,Ketamine Consum,Legalh Consum,LSD Consum,Meth Consum,Mushrooms Consum,Nicotine Consum,Semeron Consum,VSA Consum
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1881,1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1882,1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1883,1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1884,1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

In [6]:
df.describe()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS
count,1885.000000,1885.00000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000
mean,945.294960,0.03461,-0.000256,-0.003806,0.355542,-0.309577,0.000047,-0.000163,-0.000534,-0.000245,-0.000386,0.007216,-0.003292
std,545.167641,0.87836,0.482588,0.950078,0.700335,0.166226,0.998106,0.997448,0.996229,0.997440,0.997523,0.954435,0.963701
min,1.000000,-0.95197,-0.482460,-2.435910,-0.570090,-1.107020,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480
25%,474.000000,-0.95197,-0.482460,-0.611130,-0.570090,-0.316850,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930
50%,946.000000,-0.07854,-0.482460,-0.059210,0.960820,-0.316850,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870
75%,1417.000000,0.49788,0.482460,0.454680,0.960820,-0.316850,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400
max,1888.000000,2.59171,0.482460,1.984370,0.960820,1.907250,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730

In [7]:
df.dtypes

ID                    int64
Age                 float64
Gender              float64
Education           float64
Country             float64
Ethnicity           float64
Nscore              float64
Escore              float64
Oscore              float64
Ascore              float64
Cscore              float64
Impulsive           float64
SS                  float64
Alcohol Consum       object
Amphet Consum        object
Amyl Consum          object
Benzos Consum        object
Caff Consum          object
Cannabis Consum      object
Choc Consum          object
Coke Consum          object
Crack Consum         object
Ecstasy Consum       object
Heroin Consum        object
Ketamine Consum      object
Legalh Consum        object
LSD Consum           object
Meth Consum          object
Mushrooms Consum     object
Nicotine Consum      object
Semeron Consum       object
VSA Consum           object
dtype: object

# Data cleaning

In [8]:
df.isnull().sum()

ID                  0
Age                 0
Gender              0
Education           0
Country             0
Ethnicity           0
Nscore              0
Escore              0
Oscore              0
Ascore              0
Cscore              0
Impulsive           0
SS                  0
Alcohol Consum      0
Amphet Consum       0
Amyl Consum         0
Benzos Consum       0
Caff Consum         0
Cannabis Consum     0
Choc Consum         0
Coke Consum         0
Crack Consum        0
Ecstasy Consum      0
Heroin Consum       0
Ketamine Consum     0
Legalh Consum       0
LSD Consum          0
Meth Consum         0
Mushrooms Consum    0
Nicotine Consum     0
Semeron Consum      0
VSA Consum          0
dtype: int64

In [ ]:
## Age range

In [18]:
ages = ['18-24' if x <= -0.9 else 
           '25-34' if x >= -0.5 and x < 0 else 
           '35-44' if x > 0 and x < 1 else 
           '45-54' if x > 1 and x < 1.5 else 
           '55-64' if x > 1.5 and x < 2 else 
           '65+'
            for x in df["Age"]]
df["Age_range"] = ages

df[["Age","Ages"]]

          Age Age_range
0     0.49788     35-44
1    -0.07854     25-34
2     0.49788     35-44
3    -0.95197     18-24
4     0.49788     35-44
...       ...       ...
1880 -0.95197     18-24
1881 -0.95197     18-24
1882 -0.07854     25-34
1883 -0.95197     18-24
1884 -0.95197     18-24

[1885 rows x 2 columns]

## Gender name Female or Male

In [10]:
df["Gender"] = ["M" if x<0 else "F" for x in df["Gender"]]
df[["Gender","Genders"]]

       Gender Gender_mf
0     0.48246         F
1    -0.48246         M
2    -0.48246         M
3     0.48246         F
4     0.48246         F
...       ...       ...
1880  0.48246         F
1881 -0.48246         M
1882  0.48246         F
1883  0.48246         F
1884 -0.48246         M

[1885 rows x 2 columns]

## Country name

In [24]:
countries = ['USA' if x < -0.5 else 
           'New Zealand' if x > -0.5 and x < -0.4 else 
           'Other' if x > -0.4 and x < -0.2 else 
           'Australia' if x > -0.2 and x < 0 else 
           'Ireland' if x > 0 and x < 0.23 else 
           'Canada' if x > 0.23 and x < 0.9 else 
           'UK' 
           for x in df["Country"]]

In [25]:
df["Countries"]=countries
df[["Countries","Country"]]

     Countries_name  Country
0                UK  0.96082
1                UK  0.96082
2                UK  0.96082
3                UK  0.96082
4                UK  0.96082
...             ...      ...
1880            USA -0.57009
1881            USA -0.57009
1882            USA -0.57009
1883            USA -0.57009
1884        Ireland  0.21128

[1885 rows x 2 columns]

## Ethnicities

In [27]:
ethnicities = ['Black' if x < -1 else 
             'Asian' if x > -1 and x < -0.4 else 
             'White' if x > -0.4 and x < -0.25 else 
             'Mixed-White/Black' if x >= -0.25 and x < 0.11 else 
             'Mixed-White/Asian' if x > 0.12 and x < 1 else 
             'Mixed-Black/Asian' if x > 1.9 else 
             'Other' 
             for x in df['Ethnicity']]

In [29]:
df["Ethnicities"]=ethnicities
df[["Ethnicities","Ethnicity"]]

            Ethnicities  Ethnicity
0     Mixed-White/Asian    0.12600
1                 White   -0.31685
2                 White   -0.31685
3                 White   -0.31685
4                 White   -0.31685
...                 ...        ...
1880              White   -0.31685
1881              White   -0.31685
1882              White   -0.31685
1883              White   -0.31685
1884              White   -0.31685

[1885 rows x 2 columns]

## Education

In [32]:
educations =['Left school before 16 years' if x <-2 else 
             'Left school at 16 years' if x > -2 and x < -1.5 else 
             'Left school at 17 years' if x > -1.5 and x < -1.4 else 
             'Left school at 18 years' if x > -1.4 and x < -1 else 
             'Some college or university, no certificate or degree' if x > -1 and x < -0.5 else 
             'Professional certificate/ diploma' if x > -0.5 and x < 0 else 
             'University degree' if x > 0 and x < 0.5 else 
             'Masters degree' if x > 0.5 and x < 1.5 else 
             'Doctorate degree' 
             for x in df['Education']]
df["Educations"]= educations
df[["Educations","Education"]]

                                             Educations  Education
0                     Professional certificate/ diploma   -0.05921
1                                      Doctorate degree    1.98437
2                     Professional certificate/ diploma   -0.05921
3                                        Masters degree    1.16365
4                                      Doctorate degree    1.98437
...                                                 ...        ...
1880  Some college or university, no certificate or ...   -0.61113
1881  Some college or university, no certificate or ...   -0.61113
1882                                  University degree    0.45468
1883  Some college or university, no certificate or ...   -0.61113
1884  Some college or university, no certificate or ...   -0.61113

[1885 rows x 2 columns]